@import './../../styles/variables.scss';

:host {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;

  .employee-select {
    width: 85%;
    max-width: 15rem;
    margin: 0 auto;
  }

  .info-icon {
    color: $info-button-color;
    font-size: $fontSM;
  }

  .main-section {
    margin: 0 auto;
    width: 100%;
    max-width: 35rem;

    .content-section {
      display: flex;
      flex-direction: column;
    }
  }

  @media (min-width: $tablet-breakpoint) {
    margin: auto;
    max-width: 50rem;
    width: 100%;

    .main-section {
      .content-section {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        .table {
          max-width: 30rem;
        }

        .cost-breakdown {
          background-color: $light-background-color;
          border-radius: $border-radius;
          padding: 1rem 2rem;
        }
      }
    }
  }
}
