// TODO: Get a better set of colors
$headerFontColor: rgb(97, 119, 116);
$positiveAccentColor: #1DC690;
$negativeAccentColor: rgb(198, 77, 29);
$infoButtonColor: rgb(97, 119, 116);
$mediumTextColor: rgb(58, 71, 70);
$softTextColor: rgb(97, 119, 116);

// Sizes
$fontM: 1rem;
$fontSM: 0.9rem;
$border-radius: 4px;