// TODO: Get a better set of colors
$light-background-color: rgba(233, 233, 233, 0.35);
$header-font-color: #3f51b5;
$positive-accent-color: #3f51b5;
$negative-accent-color: rgb(198, 77, 29);
$info-button-color: #3f51b5;
$medium-text-color: rgb(58, 71, 70);
$soft-text-color: rgb(97, 119, 116);

// Sizes
$fontM: 1rem;
$fontSM: 0.9rem;
$border-radius: 4px;

$tablet-breakpoint: 768px;