<header>
  <mat-toolbar class="main-container">
    <a class="navbar-brand" [routerLink]="['/']">NSBenefits</a>

    <div class="menu-container">
      <div class="mobile-menu">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Toggle navigation">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <a mat-menu-item [routerLink]="['/cost']">
            <mat-icon>attach_money</mat-icon>
            <span>Calculate Cost</span>
          </a>
          <a mat-menu-item [routerLink]="['/logout']">
            <mat-icon>exit_to_app</mat-icon>
            <span>Logout</span>
          </a>
        </mat-menu>
      </div>

      <div class="desktop-menu">
        <a class="menu-link" [routerLink]="['/cost']">Calculate Cost</a>
        <a class="menu-link" [routerLink]="['/logout']">Logout</a>
      </div>
    </div>
  </mat-toolbar>
</header>