@import './../styles/variables.scss';

html {
  font-size: 14px;
}

.main-container {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;

  .navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    color: $header-font-color;
  }

  .desktop-menu {
    display: none;
  }
}

@media (min-width: $tablet-breakpoint) {
  html {
    font-size: 16px;
  }

  .main-container {
    .mobile-menu {
      display: none;
    }

    .desktop-menu {
      display: inherit;

      .menu-link {
        font-size: 0.9rem;
        color: $header-font-color;
      }
    }
  }
}