@import './../../styles/variables.scss';

:host {
  .chart-section {
    width: 100%;
    max-width: 20rem;
    margin: 0 auto;

    .percentage-section {
      border: 4px solid $positive-accent-color;
      border-radius: 100%;
      height: 10rem;
      width: 10rem;
      margin: 0 auto;

      .percentage-text {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $soft-text-color;

        .percentage-number {
          font-size: 2.5rem;
        }
      }
    }
  }

  .cost-bar-section {
    .cost-bar {
      margin-top: 1rem;
      height: 1.25rem;
      background-color: $positive-accent-color;
      border-radius: $border-radius;

      .cost-bar-cost {
        height: 100%;
        background-color: $negative-accent-color;
        border-radius: $border-radius 0 0 $border-radius;
      }
    }

    .cost-bar-text {
      display: flex;
      justify-content: space-between;
      color: $medium-text-color;

      .cost-bar-label {
        color: $soft-text-color;
        font-size: $fontSM;

        &.salary-label {
          text-align: right;
        }
      }
    }
  }
}