@import './../styles/variables.scss';

:host {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;

  .employee-select {
    width: 85%;
    max-width: 15rem;
    margin: 0 auto;
  }

  .info-icon {
    color: $infoButtonColor;
    font-size: $fontSM;
  }

  .table {
    margin: 1rem 0;
    width: 100%;

    .cost-table-row {
      height: 1.5rem;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    .checkmark {
      font-size: $fontSM;
      color: $positiveAccentColor;
    }
  }
}
