<mat-form-field class="employee-select">
  <mat-label>Select an employee</mat-label>
  <mat-select [(value)]="selectedEmployee" (valueChange)="calculateCost($event)">
    <mat-option *ngFor="let employee of employees$ | async" [value]="employee">
      {{ employee.firstName }} {{ employee.lastName }}
    </mat-option>
  </mat-select>
</mat-form-field>

<div *ngIf="selectedEmployee">
  <div class="chart-section">
    <div class="percentage-section">
      <div class="percentage-text">
        <div class="percentage-number">{{ costPercentageOfPay.toFixed(2) }}%</div>
        <div>of salary</div>
      </div>
    </div>

    <div class="cost-bar-section">
      <div class="cost-bar">
        <div class="cost-bar-cost"></div>
      </div>
      <div class="cost-bar-text">
        <div class="cost-bar-cost-text">
          <div>{{ totalCostPerPayPeriod | currency }}</div>
          <div class="cost-bar-label">Cost</div>
        </div>
        <div class="cost-bar-salary-text">
          <div>{{ selectedEmployee.salary | currency }}</div>
          <div class="cost-bar-label salary-label">Salary</div>
        </div>
      </div>
    </div>

  </div>
</div>

<mat-card *ngIf="selectedEmployee">
  <mat-card-header>
    <mat-card-title>
      {{ selectedEmployee.firstName }} {{ selectedEmployee.lastName }}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table *ngIf="employeeDiscountApplied || dependentDiscountsApplied > 0" class="discounts-table table">
      <tr>
        <th>Discounts Applied
          <mat-icon class="info-icon"
            matTooltip="Employees and dependents whose name starts with 'A' get a 10% discount">
            info
          </mat-icon>
        </th>
      </tr>
      <tr *ngIf="employeeDiscountApplied" class="cost-table-row">
        <td>Employee discount</td>
        <td>
          <mat-icon class="checkmark">check_circle_outline</mat-icon>
        </td>
      </tr>
      <tr *ngIf="dependentDiscountsApplied > 0" class="cost-table-row">
        <td>Dependents ({{dependentDiscountsApplied}})</td>
        <td>
          <mat-icon class="checkmark">check_circle_outline</mat-icon>
        </td>
      </tr>
    </table>

    <table class="cost-table table">
      <tr>
        <th>Cost breakdown</th>
      </tr>
      <tr class="cost-table-row">
        <td>Employee</td>
        <td>{{ employeeCost | currency}}</td>
      </tr>
      <tr class="cost-table-row">
        <td>Dependents ({{ selectedEmployee.dependents.length }})</td>
        <td>{{ dependentCost | currency }}</td>
      </tr>
    </table>

    <table class="table">
      <tr>
        <th>Totals</th>
      </tr>
      <tr class="cost-table-row">
        <td>Percentage of pay
          <mat-icon class="info-icon"
            matTooltip="Based of a salary of {{ selectedEmployee.salary | currency }} per pay period">
            info
          </mat-icon>
        </td>
        <td>{{ costPercentageOfPay.toFixed(2) }}%</td>
      </tr>
      <tr class="cost-table-row">
        <td>Per pay period</td>
        <td>{{ totalCostPerPayPeriod | currency }}</td>
      </tr>
      <tr class="cost-table-row">
        <td>Per year</td>
        <td>{{ totalYearlyCost | currency }}</td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>